{# {% extends "base.html.twig "%}
 #}{% block styles %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="{{ asset('css/main.css')}}">
{% endblock %}

{% block scripts %}
 	<script src="{{ asset('js/jquery-3.3.1.min.js')}}"></script>
	<script src="{{ asset('js/jquery-ui.min.js')}}"></script>
	 <script src="{{ asset('js/js.js')}}"></script> 

	<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block body %}

<nav class="navbar">
  <div class="container-fluid">
     <a href="/logout">Cerrar sesion</a>
  </div>
</nav>

<div class="tabla">
	<table id="listaVehiculos" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Matricula</th>
				<th>Marca</th>
				<th>Modelo</th>
				<th>Caballos</th>
				<th>Kilometros</th>
				<th>Precio</th>
				<th>Acción</th>
			</tr>
		</thead>
	</table>
</div>
	
{% endblock %}

